body {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
	text-align: center;
	width: 100%;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#logout {
	height: 30px;
	padding: 0 10px;
	border: 1px solid black;
	border-radius: 15px;
}

main {
	display: flex;
	margin: 0 15px;
	padding: 20px;
	flex-wrap: wrap;
	justify-content: space-around;
}

.s-plot img {
	width: 300px;
	height: 300px;
}

#plot {
	position: relative;
}

form > :not(:first-child) {
	margin-top: 15px;
}

.input-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.input-group label {
	margin-right: 15px;
}

.input-group :last-child {
	flex-grow: 1;
}

.input-group.invalid::after {
	color: #c00;
	content: attr(data-message);
	margin-left: 5px;
	padding-left: 5px;
}

[type="password"], [type="text"], .radio-wrapper {
	border: 1px solid black;
	border-radius: 20px;
	min-height: 20px;
	padding: 10px;
}

.invalid [type="text"], .invalid .radio-wrapper, .invalid select {
	border-color: #c00;
}

.radio-wrapper {
	display: flex;
}

select {
	border: 1px solid black;
	border-radius: 20px;
	height: 40px;
	padding: 10px;
}

[type="submit"] {
	width: 100%;
	height: 40px;
	border: 1px solid black;
	border-radius: 20px;
}

table, th, td {
	border: 1px solid black;
	border-radius: 5px;
}

th, td {
	padding: 10px;
}

.s-table table {
	border-collapse: collapse;
}

#hidden-form {
	display: none;
}

.point {
	position: absolute;
	display: block;
	width: 6px;
	height: 6px;
	border: 1px solid black;
	border-radius: 3px;
}

.point.hit {
	background-color: green;
}

.point.miss {
	background-color: red;
}

.login-error::after, .register-error::after {
	color: red;
}

.login-error.username::after {
	content: "User not found";
}

.login-error.password::after {
	content: "Password incorrect";
}

.login-error.unknown::after, .register-error.unknown::after {
	content: "Unknown server error";
}

.register-error.username::after {
	content: "Bad username";
}

.register-error.password::after {
	content: "Bad password";
}

.register-error.again::after {
	content: "Passwords must match";
}